---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
	<p>Aqui é meu blog!</p>
	<ul>
		{allPosts.map(
			post => <BlogPost title={post.frontmatter.title} url={post.url} />
		)}
	</ul>
</BaseLayout>